<h1>Activer votre compte</h1>

<p>Bonjour
	{{user.email}}</p>

<p>Votre inscription sur le qui veut gagner des millions est à valider sur le lien ci-dessous :</p>
<p>
	<a href="{{ app_react_app_url ~ '/verif/' ~ token }}">
		Activer mon compte
	</a>
</p>
<p>Ce lien expirera dans 3 heures</p>
